<ui-gmap-google-map center="map.center" zoom="map.zoom" control="control">
	<ui-gmap-marker coords="currentInterviewCoords" idKey="1"></ui-gmap-marker>
</ui-gmap-google-map>
<a href="new">Add interview</a>
<ul class="list">
  <li id="{{interview._id}}" class="interview" ng-repeat="interview in interviews track by $index | orderBy: 'date_created':true">
    <a class="title" href="/interview/{{interview._id}}">{{interview.client}}</a>
    <a href="#" ng-click="centerMap( interview.location )">Show on map</a>
    <a href="#" ng-click="delete(interview._id)">Delete</a>
  </li>
</ul>